In [1]:
#Define the function "say_hello" so it prints "Hello!" when called.

def say_hello():
    print("Hello!")

In [2]:
say_hello()

Hello!

In [3]:
#Define the function "say something" so it prints whatever is passed as the variable when called.

def say_something(something):
    print(something)

In [4]:
# Call the function
say_something("Hello World")

Hello World

In [5]:
Jane_says = "Hi, my name is Jane. I'm learining Python"
say_something(Jane_says)

Hi, my name is Jane. I'm learining Python

In [6]:
#Define a function that calculates the percentage of students that passed both
# math and reading and returns the passing percentage whe the fnction is called. 
def passing_math_percentage(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [7]:
pass_math_count = 29370
total_student_count = 39170

In [8]:
#call the function
passing_math_percentage(pass_math_count, total_student_count)

74.9808526933878

In [9]:
# A list of my grade.
my_grades = ['B', 'C', 'B', 'D']

In [10]:
# Import pandas

import pandas as pd

# Convert my_grades to a Series

my_grades = pd.Series(my_grades)

my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [12]:
# Using the format() function.

my_grades = [92.34, 84.56, 86.78, 98.32]

for grades in my_grades:
    print("{:.0f}".format(grades))

92
85
87
98

In [13]:
# Convert the numerical grades to a series

my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [14]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object

In [26]:
class Cat:
    
    def __init__(self, name):
        
        self.name = name

In [27]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [28]:
second_cat = Cat('Garfield')
second_cat.name

'Garfield'

In [34]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
        
    def bark(self):
        return self.sound + '' + self.sound

In [35]:
first_dog = Dog('Fido', 'brown', 'woof!')
first_dog.name
first_dog.color
first_dog.bark()

'woof!woof!'

In [38]:
second_dog = Dog('Lady', 'blond', 'arf!')

second_dog.bark()

'arf!arf!'