In [1]:
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for a in high_schools:
    print(a)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for types in high_school_types:
    print(types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [31]:
import pandas as pd

In [20]:
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [7]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [8]:
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School", " Shelton High School", "Hernandez High School", "Griffin High School"
              ]
type_of_school = ["District", "District", "Charter", "District", "Charter"
                 ]

In [9]:
school_df = pd.DataFrame()

In [10]:
school_df["School ID"] = school_id
school_df["School_Name"] = school_name
school_df["Type"] = type_of_school
school_df

   School ID            School_Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [11]:
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [12]:
high_school = pd.DataFrame(high_school_dicts)
high_school

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
school_df.columns

Index(['School ID', 'School_Name', 'Type'], dtype='object')

In [14]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, ' Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [18]:
school_df.value_counts

<bound method DataFrame.value_counts of    School ID            School_Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter>

In [21]:
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School",
              "Caberera High School",
              "Bailey High School",
              "Holden High School",
              "Pena High School",
              "Wright High School",
              "Rodriguez High School",
              "Johnson High School",
              "Ford High School",
              "Thomas High School"
              ]
type_of_school = ["District",
                 "District",
                 "Charter",
                 "District",
                 "Charter",
                 "Charter",
                 "Charter",
                 "District",
                 "Charter",
                 "Charter",
                 "Charter",
                 "District",
                 "District",
                 "District",
                 "Charter"
                 ]
school_id_df = pd.DataFrame(school_id)
school_name_df = pd.DataFrame(school_name)
type_df = pd.DataFrame(type_of_school)

In [24]:
print(school_id_df)
print(school_name_df)
print(type_df)

     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
                        0
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5    Caberera High School
6      Bailey High School
7      Holden High School
8        Pena High School
9      Wright High School
10  Rodriguez High School
11    Johnson High School
12       Ford High School
13     Thomas High School
           0
0   District
1   District
2    Charter
3   District
4    Charter
5    Charter
6    Charter
7   District
8    Charter
9    Charter
10   Charter
11  District
12  District
13  District
14   Charter